footer {
    display: block;

    .bg-gray-100 {
        background-color: #f8f9fa;

        .container {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;

            .row {
                display: flex;
                flex-wrap: wrap;
                margin-right: -15px;
                margin-left: -15px;

                .service-column {
                    display: flex;
                    align-items: center;

                    .text-sm {
                        font-size: .875rem;
                    }

                }

                img {
                    width: 30px;
                    height: 30px;
                    margin-top: -1rem;
                    margin-right: 1rem;
                }
            }
        }
    }

    .text-muted {
        font-size: 14px;
        color: #868e96;

        .text-hover-dark:hover {
            color: black !important;
        }

        .input-group {
            border-bottom: 1px solid grey;
            transition: all .5s;

            &:hover {
                border-bottom: 1px solid black;
            }

            .form-control {
                border: 0;
            }
        }

        .col-lg-7 {
            padding-left: 4rem;
        }


    }

    .py-6 {
        padding-bottom: 6rem;
        padding-top: 6rem;

    }

    .link-animated {
        position: relative;
        text-decoration: none;
        color: black;
    }

    .link-animated::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: #000;
        transition: width 0.3s ease;
    }

    .link-animated:hover::before {
        width: 100%;
    }

    .text-reset,.mb-lg-0 {
        color: #868e96 !important;
    }
}