header {
    .top-bar {
        position: relative;
        color: #343a40;
        background: #e9ecef;
        font-weight: 300;

        .top-bar-container {
            .row {
                display: flex;
                align-items: center;
                height: 54px;
                margin-right: 15px;
                margin-left: 15px;

                .col {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 54px;

                    .first-col {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0;
                        padding: 0;

                        .twitter-logo {
                            margin-right: 1.3rem;
                        }

                        li {
                            margin-right: 0.6rem;

                            a {
                                color: black;

                                i {
                                    margin-right: 0.5rem;
                                    transition: 280ms linear;
                                    color: black;

                                    &:hover {
                                        color: #bcac76;
                                    }
                                }

                                .bi-telephone:hover {
                                    color: black;
                                }

                            }
                        }
                    }

                    p {
                        font-size: 0.875rem;
                        margin: 0;
                    }

                    .dropdown {
                        margin: 1rem;

                        .main-button {
                            display: flex;
                            font-size: 0.875rem;
                            background-color: #e9ecef;
                            border: none;
                            color: black;
                            height: 50px;
                            align-items: center;
                        }

                        .dropdown-menu {
                            padding: 8px;
                            transition: 300ms ease;
                        }

                        .dropdown-item {
                            color: #868e96;
                            font-size: 0.9rem;
                        }

                        .dropdown-item:hover {
                            color: #16181b;
                        }

                        .main-button::after {
                            font-family: 'bootstrap-icons';
                            content: '\F282';
                            margin-left: 5px;
                            font-size: small;
                        }
                    }
                }

                #col1 {
                    justify-content: flex-start;
                }

                #col3 {
                    justify-content: flex-end;

                }
            }
        }
    }

    nav {
        border: transparent;
        position: relative;
        display: flex;
        align-items: center;
        padding: 1.2rem 1rem;
        font-weight: 600;

        a {
            color: black;
            display: inline-block;
            padding-top: .5rem;
            padding-bottom: .5rem;
            font-size: 1rem;
        }


        #logo {
            margin-right: 2rem;
        }

        .navbar-content {
            display: flex;
            flex-grow: 1;
            align-items: center;
            flex-grow: 1;
            justify-content: space-between;


            ul {
                display: flex;
                padding-left: 0;
                margin-bottom: 0;

                .active {
                    .nav-link {
                        color: black !important;
                    }
                }

                .nav-item {
                    display: flex;
                    align-items: center;

                    i {
                        display: flex;
                        align-items: center;
                        margin: 0 1.1rem 0 0.2rem;
                        transition: transform 0.3s ease;
                        font-weight: 800;
                    }

                    .nav-link {
                        color: rgba(0, 0, 0, 0.5);

                        &:hover {
                            color: black;
                        }

                    }

                }

                li {
                    position: relative;


                    .dropdown-menu {
                        margin-top: 1.2rem;
                        will-change: transform, opacity;
                        display: none;
                        box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.17);
                        top: 100%;
                        left: 0;
                        z-index: 1000;
                        border-radius: 0;
                        min-width: 10rem;
                        padding: .5rem 0;
                        margin: .125rem 0 0;
                        font-size: .875rem;
                        color: #212529;
                        text-align: left;
                        list-style: none;
                        background-color: #fff;
                        background-clip: padding-box;
                        border: 0 solid rgba(0, 0, 0, 0.15);

                        .dropdown-item {
                            display: block;
                            width: 100%;
                            padding: .4rem 1.5rem;
                            clear: both;
                            font-weight: 400;
                            color: #868e96;
                            white-space: nowrap;
                            background-color: transparent;
                            border: 0;
                            font-size: .875rem;

                            &:hover {
                                color: black;
                            }

                            .badge {
                                color: #bcac76;
                                background-color: #f7f5ef;
                            }
                        }

                        .bg-primary {
                            background-color: #bcac76 !important;

                            p {
                                font-weight: 500;
                            }
                        }
                    }

                    #home {
                        transform: translateY(30px);
                        display: none;
                    }

                    #shop {
                        transform: translateY(30px);
                        min-width: 750px;
                        display: none;

                        .row {
                            display: flex;
                            justify-content: space-between;
                            flex-wrap: wrap;
                            margin-right: -15px;
                            margin-left: -15px;

                            .col {
                                position: relative;


                                .dropdown-header {
                                    display: block;
                                    padding: .5rem 1.5rem;
                                    margin-bottom: 0;
                                    font-size: .875rem;
                                    color: #212529;
                                    white-space: nowrap;
                                    font-weight: 700;
                                    line-height: 1.3;
                                }

                                .bg-img {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    z-index: 0;
                                    object-fit: cover;
                                }
                            }
                        }
                    }

                    #icons {
                        transform: translateY(30px);
                        min-width: 750px;
                        display: none;

                        .text-reset {
                            background-color: transparent;

                            &:hover h6 {
                                margin: 0;
                                border-bottom: 1px solid black;
                            }


                            .icon {
                                width: 3.5rem;
                                height: 3.5rem;
                                margin-bottom: 2em;
                            }
                        }
                    }

                    .megamenu {
                        transform: translateY(30px);
                        display: none;
                        overflow: hidden;
                        width: 100%;
                        max-width: 1300px;
                        margin-top: -2px;
                        border: none;
                        z-index: 9999;

                        .col-log-3,
                        .col-sm-6 {
                            position: relative;
                            padding: 0 15px;

                            .mb-3,
                            .my-3 {
                                margin-bottom: 1rem;
                            }

                            .img-fluid {
                                max-width: 14rem;
                                height: auto;
                            }

                            img {
                                vertical-align: middle;
                                border-style: none;
                            }

                            .megamenu-list {
                                margin-bottom: 1.5rem;
                                padding: 0;
                                font-size: 0.8rem;
                                flex-direction: column;

                                .megamenu-list-item {

                                    .megamenu-list-link {
                                        padding: 5px 0;
                                        color: #868e96;
                                        background-color: transparent;
                                        font-size: 0.8rem;

                                        &:hover {
                                            color: black;
                                        }

                                        .badge {
                                            color: #bcac76;
                                            background-color: #f7f5ef;
                                            margin-left: 0.4rem;
                                        }
                                    }
                                }
                            }
                        }

                    }

                    #docs {
                        transform: translateY(30px);
                        display: none;
                    }
                }
            }

            .ml-auto,
            .mx-auto {

                .input-group {
                    position: relative;
                    display: -ms-flexbox;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: stretch;
                    width: 100%;
                    border: 0;
                    border-bottom: 1px solid #ced4da;
                    transition: all .5s;

                    .form-control.form-control-underlined {
                        padding-left: 0;
                        background-color: transparent;
                        display: block;
                        height: calc(1.6em + .75rem + 2px);
                        padding: .375rem .75rem;
                        font-size: 1rem;
                        font-weight: 400;
                        border: 0;
                        line-height: 1.6;
                        color: #212529;
                        border-radius: 0;
                        position: relative;
                        flex: 1 1 auto;
                        width: 1%;
                        min-width: 0;
                        margin-bottom: 0;
                    }

                    &:hover {
                        border-bottom: 1px solid black;
                    }

                    ::placeholder {
                        color: #868e96;
                        font-weight: 500;
                        font-size: 1.2rem;
                    }
                }
            }

            .list-inline-item {

                i {
                    font-size: 24px;
                    transition: all 0.2s ease-in-out;
                    margin-right: 1rem;

                    &:hover {
                        color: #bcac76;
                    }
                }

                .navbar-icon-badge {
                    position: absolute;
                    top: 4px;
                    right: 4px;
                    width: 18px;
                    height: 18px;
                    text-align: center;
                    color: #fff;
                    border-radius: 50%;
                    background: #bcac76;
                    font-size: 0.6rem;
                    line-height: 20px;
                }

                .basket-bandage {
                    top: 5px;
                    right: 5px;
                }

            }

        }
    }
}

.svg-blob {
    width: 800px;
    height: 800px;
    max-width: 100%;
    left: -250px;
    top: -200px;
    position: absolute;
    z-index: -1;
}